.row
	.col-xs-4
		h3 Community Groups
		.list-group
			each group in communityGroups
				a.list-group-item(onclick='renderCommunityGroupInfo("#{group._id}", "#{group.name}")')= group.name
			a.list-group-item.list-group-item-success(href='/keystone/community-groups')
				span.glyphicon.glyphicon-plus()
				| &nbspAdd Community Group
	.col-xs-8
		h3 Ministry Questions
		each question in questions
			table.table-striped
				tr
					td
						.form-group
							label(for="question_#{question._id}") Question
							textarea.form-control(id='question_#{question._id}')= question.question
						.form-group
							label(for="type_#{question._id}") Type
							select.form-control(id="type_#{question._id}")
								each type in questionTypes
									- var selected = type == question.type ? true : false;
									option(selected=selected, value=type)= type
						- var hidden = 'select' != question.type ? true : false;
						.form-group(hidden=hidden)
							label(for="select_#{question._id}") Options
							//input.form-control(type='text' id="select_#{question._id}"): span.badge Testing
							ul.taggable.form-control(id="select_#{question._id}")
								each option in question.selectOptions
									li= option.value
				

script(type='text/javascript').
	initTagit();
	typeSelectInit();
	
